<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="dashboardStyles.css">
    <meta charset="utf-8">
    <title>TechGether</title>
  </head>
  <body>
    <div class="topnav">
      <a class="active" href="#home">TechGether</a>
      <div class="search-container">
        <form action="/action_page.php">
          <input type="image" src="907-200.png" name="searchicon">
          <input type="text" placeholder="Search..." name="search">
    </form>
  </div>
    </div>
    <center>
      <h1>Find A Mentor!</h1>
    </center>
    <center>
      <table class="description">
        <tr>
          <td><img src="avatar.png"></td>
          <td><img src="avatar.png"></td>
          <td><img src="avatar.png"></td>
        </tr>
        <tr>
          <th>Potential Mentor</th>
          <th>Potential Mentor</th>
          <th>Potential Mentor</th>
        </tr>
        <tr>
          <td>Current Title</td>
          <td>Current Title</td>
          <td>Current Title</td>
        </tr>
      </table><br>
      <table class="description">
        <tr>
          <td><img src="avatar.png"></td>
          <td><img src="avatar.png"></td>
          <td><img src="avatar.png"></td>
        </tr>
        <tr>
          <th>Potential Mentor</th>
          <th>Potential Mentor</th>
          <th>Potential Mentor</th>
        </tr>
        <tr>
          <td>Current Title</td>
          <td>Current Title</td>
          <td>Current Title</td>
        </tr>
      </table><br>
  </center>
  </body>
</html>
