body {
	color:#E8A60;
	font-family: "segoe UI";
    background-color:#FFF9FB;
}
h3 {
	font-family: "segoe UI";
    color:#E8A6B0;
}

h1{
	font-family: "segoe UI";
	color:#E8A6B0;
}

th{
	font-family: "segoe UI";
    color:#E8A6B0;
} 

td{
	font-family: "segoe UI";
	color:#E8A6B0;
}
.a{
	font-family: "segoe UI";
	color:#E8A6B0;
}


label{
	color:#E8A6B0
}

