<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="mentorStyles.css">
    <meta charset="utf-8">
    <title>Request A Mentor</title>
  </head>
  <body>
    <center>
    <h1>Tell your mentor more about yourself.</h1>
    <h5>Please submit each question as you go.</h5>
    <div>
    <form style="font-size:18px;">
      Briefly describe your most recent project (ie. school, work, personal) <br>
      <textarea name="message" rows="5" cols="40">
      </textarea><br>
      <input type="submit" class="submit" value="Submit">
    </form>
  </div>
  <div>
  <p>What is a specific goal you want to achieve:</p>
    <form style="font-size:15.5px;">
      In the next month<br>
      <textarea name="message" rows="2" cols="40">
      </textarea><br>
      In the next six months<br>
      <textarea name="message" rows="2" cols="40">
      </textarea><br>
      In the next year<br>
      <textarea name="message" rows="2" cols="40">
      </textarea><br>
      <input type="submit" class="submit" value="Submit">
    </form>
  </div>
  <div>
  <p>What are three burning questions you have for your mentor?</p>
    <form style="font-size:15.5px;">
      1. <textarea name="message" rows="2" cols="40">
      </textarea><br>
      2. <textarea name="message" rows="2" cols="40">
      </textarea><br>
      3. <textarea name="message" rows="2" cols="40">
      </textarea><br>
      <input type="submit" class="submit" value="Submit">
    </form>
  </div>
  </center>
  </body>
</html>
