<!DOCTYPE html>
<html>
<head>
	<title>New Mentee</title>
	<link href="styles/style.css" rel="stylesheet" type="text/css">
</head>

<body>
<div>
<center><h1>What is the name of your post-secondary institution?</h1></center>
<center>
<form action="/action_page.php">
  <input list="browsers" name="browser">
  <datalist id="browsers">
    <option value="The University of British Columbia">
    <option value="Simon Fraser University">
    <option value="Kwantlen Polytechnic University">
    <option value="BCIT">
   
    
  </datalist>
  <input type="submit" class="submit">
</form>

<center><p>Already have an account? <a href="https://loginpage.com/">Login</a></p></center>
</div>
</body>
</html>


